.DS_Store
*~
*.a
aclocal.m4
aggregation1
AUTHORS
autom4te.cache
ChangeLog
*.cmake
CMakeCache.txt
CMakeFiles
compile
config.*
configure
COPYING
data
depcomp
.deps
.dirstamp
find-and-modify
*.gcda
*.gcno
INSTALL
tags
index-source
*.la
.libs
libtool
*.lo
ltmain.sh
Makefile
Makefile.in
missing
*.o
*.pc
README
*.so
*.so.*
stamp-h1
*.swp
*.pyc
*.err
*.log
