.DS_Store
*~
*.a
aclocal.m4
aggregation1
AUTHORS
autom4te.cache
ChangeLog
*.cmake
CMakeCache.txt
CMakeFiles
compile
config.*
configure
COPYING
.deps
.dirstamp
*.gcda
*.gcno
*.la
.libs
*.lo
ltmain.sh
Makefile
Makefile.in
missing
*.o
*.pc
README
*.so
*.so.*
*.swp
*.pyc
*.err
*.log

